.container {
  display: block;
  margin: 4rem auto;
  width: 720px;


  a{
    font-weight: bold;
    font-size: 1.92rem;

    &+a{
      margin: .4rem auto;
    }

  }

  h3{
    font-weight: 600;
    color: var(--gray1);
    margin: .8rem auto;
  }

  button{
    color: var(--primary);
    background: none;
    font-weight: 700;
    font-size: 1.2rem;
    border: none;
    margin-top: 2rem;
  }

}

.dateContainer {
  display: flex;
  justify-content: flex-start;
  margin: .4rem auto;
  color: var(--gray2);
  font-size: .92rem;

  span{
    margin-right: 1.6rem;
  }
}
